
<a href="https://aladin.ci" id="clt">click me</a>
<script>

var evt = new MouseEvent("click", {
    view: window,
    bubbles: true,
    cancelable: true,
    clientX: 20,
    /* whatever properties you want to give it */
});

document.getElementById('clt').dispatchEvent(evt);
</script>